 
 
<div class="modal-header d-flex align-items-center justify-content-between    ">
    <h5 class="" >{{ 'Add Quote'}}</h5>
    <button class="btn  btn-outline-danger" type="button"   data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
 
 
    <form [formGroup]="quoteForm">
    <div class="m-3">
      <textarea formControlName="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type a quote ..."></textarea>
    </div>

 

      
      <!-- Available categories-->
  <div class="m-3">
    <div class="">
      Available categories
    </div>
<div class="category-container" >
  <div class="category" *ngFor="let category of allCategory"
(click)="addToSelectedCategory(category)"
  >
    {{ category?.name }}
  </div>
  </div>
  </div>
      
      
      
      <!-- Selected categories-->
      
  <div class="m-3">
    <div class="">
      Selected categories
    </div>
<div class="category-container" *ngIf="allSelectedCategory.length; else  noAllSelectedCategory" >
  <div class="category" *ngFor="let category of allSelectedCategory">
    {{ category?.name }}
  </div>
  </div>
<ng-template #noAllSelectedCategory>
  -
</ng-template>
  </div>
  
  <div class="m-3">
<div class="row g-3 align-items-center">
  
 
  <div class="col-auto ">
    <input type="text"
placeholder="Add some categories ..."
[ngModelOptions]="{ standalone: true }"
    [(ngModel)]="inputValue" 
    id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
  </div>
  <div class="col-auto">
<button type="button" class="btn btn-outline-success brand-btn-primary"
(click)="addToSelectedCategory({name:inputValue})"
  >+</button>
 
  </div>
  </div>
  
</div>
  
  


      
      
      
<div class="d-grid gap-2 m-3">
  <!--
  <button type="button" class="btn btn-outline-danger">Cancel</button>
  -->
  <button [ngClass]="{ 'disabled': !quoteForm.valid }"   type="button" class="btn brand-btn-primary" (click)="onQuoteFormSubmit()">
    Save
  </button>
</div>
      
    </form>
    