

.quote-card{
  position: relative;
  background: #90e0e5;
  padding: 1rem 1.2rem;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #00b4b8;
  /*
  box-shadow: inset 2px 2px 4px  rgba(200,140,250,0.3);
*/
  
}

.quote-card:hover .quote-delete-icon, 
.quote-card:hover .quote-edit-icon{
  opacity: 1;
}

.user-detail{
  display: block;
  text-align: right
}

.quote-edit-icon{
  opacity: 0;
  width: 2rem;
  right: 1.5rem;
  height: 2rem;
  top: -0.5rem; 
  position: absolute; 
  background: yellow;
  border-radius: 4rem;
  vertical-align: middle;
  border: 0.2rem solid #efcc00;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.quote-delete-icon{
  opacity: 0;
  width: 2rem;
  height: 2rem;
  top: -0.5rem;
  right: -0.5rem;
  background: red;
  position: absolute;
  border-radius: 4rem;
  vertical-align: middle;
  border: 0.2rem solid brown;
}

.quote-delete-icon:hover{
  border: 0.2rem solid transparent;
}

.quote-edit-icon:hover{
  border: 0.2rem solid transparent;
}