<div *ngIf="!loading; else loader" class="quote-container">
  <div *ngIf="quotes.length" class="quote-container">
    <div *ngFor="let quote of quotes" class="">
      <app-quote-card
        [quote]="quote"
        [canChange]="false"
        [myQuote]="quote.user?.id! == user_id"
      >
      </app-quote-card>
    </div>
  </div>
</div>
<ng-template #loader>
  <div class="loader">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 140 40"
        width="140px"
        height="150px"
      >
        <rect
          fill="#00b4b8"
          stroke="%2300B4B8"
          stroke-width="5"
          width="30"
          height="30"
          x="5"
          y="0"
        >
          <animate
            attributeName="y"
            calcMode="spline"
            dur="2"
            values="0;70;0;"
            keySplines=".5 0 .5 1;.5 0 .5 1"
            repeatCount="indefinite"
            begin="-.4"
          ></animate>
        </rect>
        <rect
          fill="#00b4b8"
          stroke="%2300B4B8"
          stroke-width="5"
          width="30"
          height="30"
          x="45"
          y="0"
        >
          <animate
            attributeName="y"
            calcMode="spline"
            dur="2"
            values="0;70;0;"
            keySplines=".5 0 .5 1;.5 0 .5 1"
            repeatCount="indefinite"
            begin="-.2"
          ></animate>
        </rect>
        <rect
          fill="#00b4b8"
          stroke="%2300B4B8"
          stroke-width="5"
          width="30"
          height="30"
          x="85"
          y="0"
        >
          <animate
            attributeName="y"
            calcMode="spline"
            dur="2"
            values="0;70;0;"
            keySplines=".5 0 .5 1;.5 0 .5 1"
            repeatCount="indefinite"
            begin="0"
          ></animate>
        </rect>
      </svg>
    </div>
    <p class="loader-text">Sometimes it takes longer</p>
  </div>
</ng-template>
