/* You can add global styles to this file, and also import other style files */

* {
  transition: 0.2s;
}

body {
  padding: 0;
  color: var(--bodyTextColor) !important;
  background: #caf0f8 !important;
  font-family: "Courgette", sans-serif !important;
  width: 100%;
  max-width: 400px;
  margin: auto !important;
}

.quote-container {
  padding: 1rem;
  height: 80vh;
  overflow-y: auto;
}

.showHideFormButtom {
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--bodyTextColor);
  background: var(--primaryColor);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  padding: 0;
  font-size: 2rem;
}

.hideFormBtton {
  transform: rotate(225deg);
  background: rgba(255, 0, 0, 1);
}

/* commom style start */

.color-00b4b8 {
  color: var(--primaryColor) !important;
}

.background-00b4b8 {
  background: var(--primaryColor) !important;
}

.brand-btn-primary {
  color: var(--bodyTextColor) !important;
  background: var(--primaryColor) !important;
  border-radius: 0.2rem;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
}

.category {
  padding: 0.2rem 0.7rem;
  margin: 1px 0rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  background: var(--primaryColor);
  margin-right: 0.1rem;
  cursor: pointer;
}

.loader {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-text {
  opacity: 0;
  transition: 1s;
  animation: loadingTextVisiable 3s 2s forwards;
}

@keyframes loadingTextVisiable {
  100% {
    opacity: 1;
  }
}

.background-white {
  background-color: white !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
/* commom style end */

/* search bar  starts*/

.search-box {
  background-color: white !important;
  border: 0.2rem solid var(--primaryColor);
  border-radius: 0.5rem;
  align-items: center;
  display: flex;
  width: 100%;
}

.search-box input {
  border: none;
  width: 100%;
}
.search-box input:focus,
.search-box input:active,
.search-box input:focus-visible {
  border: none;
  outline: none;
}
/* search bar  end */

/* scroll bar starts */

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--secondaryColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--primaryColor);
}

/* scroll bar end */
